* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.card {
  /* border: 1px solid grey; */
  box-shadow: 0px 0px 4px gray;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 15px;
}

.btn {
  height: 30px;
  width: 60%;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}

.price {
  color: green;
}

img {
  width: 100px;
  height: 100px;
}
