* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 20px;
}

input,
select,
button {
  padding: 8px;
  margin: 5px;
}

#modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
#modalContent {
  background: white;
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}
